h1, h2 { 
    display: inline-block;
    background-color: cyan;
    width: 200px;
}


label , input { 
    display:block ;
}

p{ 
    display: inline-block;
    width:200px ;
    box-sizing: border-box;
    background-color: cyan;
    padding: 20px;
    margin: 10px;
    vertical-align: top;
}

a { 
    text-decoration: none;
    color: darkslategrey;
    background-color: blanchedalmond;
    margin: 10px;
    padding: 10px;
}

a {
    display: inline-block;
}