.row {
    display: flex;
}
.col {
    flex:1;
    background-color: aquamarine;
    margin: 5px;
    padding: 20px;
}

.col-2 {
    flex: 2;
    background-color: aquamarine;
    margin: 5px;
    padding: 20px;
}

.col-3 {
    flex: 3;
    background-color: aquamarine;
    margin: 5px;
    padding: 20px;
}